emacs.d/**/*.elc
emacs.d/*.data
emacs.d/.*
emacs.d/amx-items
emacs.d/auto-save-list/
emacs.d/custom.el
emacs.d/el-get/
emacs.d/elpa/
emacs.d/eshell/
emacs.d/places
emacs.d/projectile-bookmarks.eld
emacs.d/rake.cache
emacs.d/recentf
emacs.d/tramp
emacs.d/transient/

vim/.netrwhist
vim/autoload
vim/plugged

vscode/extensions/
