emacs.d/straight/
emacs.d/.local/
emacs.d/elpa/
emacs.d/**/*.elc
emacs.d/*.data
emacs.d/amx-items
emacs.d/auto-save-list/
emacs.d/places
emacs.d/recentf*

vim/.netrwhist
vim/autoload
vim/plugged

vscode/extensions/
