[user]
  name = William Calderipe
  email = wcalderipe@gmail.com
[alias]
  st = status --untracked-files
  ad = add --patch
  co = commit --verbose
  lo = log --pretty=oneline
  todo = grep -EI 'TODO(:|\\s)|FIXME(:|\\s)'
[core]
  editor = vim
[push]
  default = simple
