[user]
  name = William Calderipe
  email = wcalderipe@gmail.com
[alias]
  st = status
  ad = add --patch
  co = commit --verbose
  lo = log --pretty=oneline
[core]
  editor = vim
[push]
  default = simple
