/**
 * A minimal stylesheet for org-mode HTML exports which tries to mimic Github's
 * markdown styles plus some personal touches.
 */

/* RESET */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

body {
  margin: 0;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
html {
  font-family: 'PT Sans', sans-serif;
  background-color: #ffffff;
  color: #24292e;
  margin: 1em;
}

body {
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 23cm;
  padding: 1em;
}

/* HEADINGS */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  color: #24292e;
}

h1 {
  font-size: 2.8em;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1.15em;
}

/* LINKS */

a {
  color: #0366d6;
  text-decoration: none;
}

a:visited {
  color: #66008f;
}

a:hover {
  text-decoration: underline;
}

/* CODE */

pre,
code {
  font-family: monospace,monospace;
}

pre {
  font-family: monospace,monospace;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

code {
  padding: .2em .4em;
  margin: 0;
  font-size: 90%;
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
}

pre code {
  background-color: #f6f8fa;
}

/* IMAGES */

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

.figure {
  padding: 1em;
}

.figure p {
  text-align: center;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

/* TABLES */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table td {
  padding: 0;
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table th {
  padding: 0;
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

/* QUOTE */

blockquote {
  margin: 0;
  padding: 0 1em;
  color: #6a737d;
  border-left: .25em solid #dfe2e5;
}

/* TAGS & TODOS */

.tag {
  font-family: monospace,monospace;
  background-color: #24292e;
  color: #f6f8fa;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  vertical-align: middle;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
}

.todo,
.done {
  color: #24292e;
  padding: 0 5px;
}

.TODO {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: #ffec99;
}

.DONE {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: #c2e0c6;
}
